html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

.nav {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  background: black;
  color: #fff;
  position: relative;
  z-index: 3;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
}

.logo-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.logo-section span {
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 10px;
  padding-left: 20px;
}

.subtitle-image {
  padding: 10px;
  width: 500px;
}

.logo-section img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.title-name {
  /*font-family: "Butler", serif;*/
  width: 327px;
  height: 150px;
  object-fit: contain;
  color: white;
  z-index: 10;
  position: relative;
  cursor: crosshair;
}

.top-section {
  display:flex;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.topbar{
  background: #5100e7;
  height: 10px;
  flex: 1;
  margin: 0 20px;
}

.section{
  position: relative;
  border-top: 3px solid;
  padding: 10px 0;
  margin-bottom: 100px;
}

h2{
  font-style: italic;
    margin-top: 150px;
    background: #5100eb;
    color: whitesmoke;
    padding: 10px;
}

.jpg-container h3{
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}

.jpg-container h4{
  margin-top: 0px;
  text-align: center;
  font-weight: 100;
}

.section-title{
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.subsection{
  position: relative;
  border-top: 1px dashed;
  margin: 50px 0;
  padding: 10px 0;
}

.sidebar .subsection{
  margin: 0;
  padding: 20px 0;
}

.subtitle{
  text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
}

.subcontent{
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-right: 10px;
}

.subdesc{
  padding-right: 20px;
  width: 100%;
}

.design .subdesc p{
  position: absolute;
    left: 130px;
}

.half .subdesc, .process .subdesc{
  max-width: 100%;
}

.subimg-container{
  display: flex;
}

.subtitle-box {
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: #ffe0d2;
  font-family: "Altero";
  text-transform: uppercase;
}

.faded {
  opacity: 0.3;
}

.subtitle-box a {
  color: #ffe0d2;
}

.cf-logo {
  position: absolute;
  right: 50px;
  top: 50%;
  left: 50px;
  margin: auto;
}

.cf-desc {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #5008e3;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Inter";
  font-size: 20px;
  letter-spacing: 1px;
}

.et {
  height: 100vh;
  position: relative;
}

.commonfolk .logo-image {
  width: 175px;
}

.logo-image {
  width: 125px;
}

.sidebar {
  display: flex;
  position: relative;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.et .sidebar {
  background: whitesmoke;
}

.et .vertical-line {
  background: black;
}

.et .bio {
  color: black;
}

.subtitle .sidebar {
  background: #ffe0d2;
}

.subtitle .vertical-line {
  background: #ff4646;
}

.subtitle .bio {
  color: #ff4646;
}

.commonfolk .vertical-line {
  background: #d2e4ff;
}

.commonfolk .bio {
  color: #d2e4ff;
}

.sidebar .bio {
  text-align: justify;
  font-size: 12px;
  padding: 40px;
}

.end-message{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.vertical-line {
  height: 100px;
  width: 1px;
  margin: 40px 10px;
}

.bottom-circle {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -25px;
  border-radius: 50%;
}

.top-circle {
  background: #5122df;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -25px;
  border-radius: 50%;
}

.commonfolk .bottom-circle {
  background: whitesmoke;
}

.et .bottom-circle {
  background: #ffe0d2;
}

.sidebar .title {
  font-family: "Altero";
  font-weight: lighter;
  font-size: 30px;
  text-align: left;
}

.sub-title {
  font-family: "Altero";
  text-transform: uppercase;
}

.section-title-container {
  margin: 0;
  width: 0;
  white-space: nowrap;
  position: absolute;
  text-align: left;
  transform-origin: bottom;
  margin-top: 550px;
  transform: rotate(270deg);
}

.section-content {
  padding-left: 20px;
  position: absolute;
  bottom: 50px;
  width: 400px;
}

.section-content a {
  color: #d1e3ff;
  text-decoration: underline;
}

.section-title-container h2 {
  margin-bottom: 5px;
}

.right iframe {
  border: 5px solid #5122df;
  border-radius: 2px;
}

.back {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 0px;
  top: 40px;
  text-transform: uppercase;
  right: 0px;
  text-align: center;
  color: white;
  animation: blinker 2s linear infinite;
  transition: 1s ease;
}

.et .back {
  color: black;
}

.subtitle .back {
  color: black;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.right {
  width: 70%;
  height: 100vh;
  float: right;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.click-scroll {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  transition: 0.5s;
  cursor: ew-resize;
}

.et .click-scroll:hover {
  background: #ffffff24;
}

.click-scroll:hover {
  background: #0000002e;
}

.right::-webkit-scrollbar {
  display: none;
}

.initial {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
}

.scroll {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  position: absolute;
  bottom: 90px;
  right: -30px;
  transform: rotate(270deg);
  cursor: pointer;
}

.et .scroll {
  color: white;
}

.subtitle .scroll {
  top: 90px;
  bottom: inherit;
}

.portfolio-section {
  padding-left: 150px;
  padding-right: 50px;
  min-width: 400px;
  position: relative;
}

.portfolio-section:last-of-type {
  padding-right: 100px;
}

.commonfolk .portfolio-section {
  color: #5122df;
}

.et .portfolio-section {
  color: whitesmoke;
}

.subtitle .portfolio-section {
  color: #ffe0d2;
}

.portfolio-section p {
  font-size: 14px;
}

.portfolio-section img {
  object-fit: cover;
  /* margin: 5px;
  padding: 5px;
  border: 3px solid #5008e3; */
}

.et .portfolio-section img {
  /* border: 3px solid whitesmoke; */
}

.subtitle .portfolio-section img {
  /* border: 3px solid #ffe0d2; */
}

.portfolio-section .horizontal {
  width: 250px;
  object-fit: contain;
}

.vertical-main {
  height: 450px;
  max-width: 375px;
}

.horizontal-main {
  width: 375px;
}

.horizontal-mini {
  width: 150px;
  margin-right: 10px;
    border: 1px solid;
    padding: 5px;
}

.half{
  width: 50%;
  float: left;
}

.thirds{
  display: flex;
}

.third{
  width: 33%;
}

.design .third img {
    border: none;
    width: 100%;
    object-fit: contain;
    padding-left: 60px;
    padding-top: 50px;
    z-index: 10;
}

.bg-circle {
  position: absolute;
  border-radius: 50%;
  background: #5108e3;
  height: 125px;
  width: 125px;
  display: block;
  z-index: 0;
  margin-top: 10px;
}

.third img{
  width: 100%;
    margin-top: 15px;
    border: 1px dotted;
    padding: 0px;
    padding-top: 10px;
}

.full img{
  width: 100%;
}

.full .description {
  padding-left: 20px;
}

.block{
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: absolute;
  height: 100%;
  font-size: 12px;
  bottom: 0;
  color: whitesmoke;
  background: #5108e3;
  padding: 15px;
  padding-bottom: 15px;
  left: -50px;
  top: -1px;
}

#circle {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  right: 130px;
  top: 60px;
  animation: rotation 20s infinite linear;
}

#circle:hover {
  color: #ffd064;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.portfolio-section .vertical {
  height: 200px;
  object-fit: contain;
}

.portfolio-section .square {
  width: 200px;
  object-fit: cover;
  padding: 0px;
  border: none;
}

.portfolio-section img:first-of-type {
  /* margin-left: 125px; */
}

.small-line {
  height: 40px;
  width: 1px;
  background: #5122df;
  margin: 10px 0;
}

.et .small-line {
  background: white;
}

.subtitle .small-line {
  background: #ffe0d2;
}


.snap-x {
  scroll-snap-align: start;
  height: 100%;
}

.portfolio-section h2 {
  font-family: "Altero";
}

.subtitle-bg-container {
  display: flex;
}

.et .right {
  background: black;
}

.subtitle .right {
  background: #ff4646;
}

.commonfolk .right {
  background: #d2e4ff;
}

.first-blink {
  display: block;
  margin-bottom: 5px;
}

.second-blink {
  display: block;
  margin-bottom: 5px;
  animation: blink-2 3s;
  animation-iteration-count: infinite;
}

.third-blink {
  display: block;
  margin-bottom: 5px;
  animation: blink-3 3s;
  animation-iteration-count: infinite;
}

.fourth-blink {
  display: block;
  margin-bottom: 5px;
  animation: blink-4 3s;
  animation-iteration-count: infinite;
}

.fifth-blink {
  display: block;
  margin-bottom: 5px;
  animation: blink-5 3s;
  animation-iteration-count: infinite;
}

@keyframes blink-2 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-3 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-4 {
  0% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-5 {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.photo-title {
  font-size: 60px;
  letter-spacing: 20px;
  text-align: right;
}

.title-background {
  background: whitesmoke;
  color: #5108e3;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px;
}

.process {
  display: flex;
  flex-direction: column;
  position: relative;
}

.png-container{
  display: flex;
  position: relative;
}

.design-scroll{
  display: flex;
  overflow: scroll;
  border-left: 3px solid;
  padding: 50px;
  border-right: 3px dotted;
  margin: 100px 0;
}

.png-container h3{
  transform: rotate( 
    -90deg
     );
  position: absolute;
  text-transform: uppercase;
  left: -112px;
  bottom: 158px;
  float: left;
}

.jpg-container{
  position: relative;
}

#gallery {
  display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.jpg-container img{
  width: 40%;
    object-fit: contain;
    display: block;
    margin: 30px 5px;
    border: 1px solid;
    padding: 5px;
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.design-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.design-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.design-example img{
  max-height: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

.web-browser{
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-browser video {
  max-width: 98%;
  border: 10px solid;
}

.extra {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
  background: whitesmoke;
}

.personal-section{
  max-width: 600px;
  margin: auto;
  padding-bottom: 50px;
}

.extra-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 10px 30px;
  border: 2px dashed;
}

.extra-container h2,
.extra-container h3 {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 14px;
}

.extra-container p{
  font-size: 12px;
}

.entry-container{
  padding: 10px 0;
}

.extra-container a {
  color: #5400e7;
  text-decoration: underline;
}

.picture-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.abc-container{
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
}

.abc-container .writing-samples{
  font-size: 40px;
}

.writing-samples a{
  color: #5108e3;
}

.writing-samples a:visited{
  color: #5108e3;
}

.practice {
  position: relative;
}

.introduction a{
  color: #5108e3;
}

.introduction a:visited{
  color: #5108e3;
}

.example-container {
  /* transform: translate3d(0, 0, 0); */
  position: absolute;
  left: 50px;
  top: 0;
  height: 200%;
  width: 100%;
  animation: slideshow 85s linear infinite;
}

.example-pictures {
  width: 600px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

@keyframes slideshow {
  0% {
    top: 0;
  }
  100% {
    -webkit-transform: translateY(-200%);
  }
}

.commonfolk {
  height: 100vh;
  position: relative;
  background: #5122df;
}

.cf-logo {
  width: 300px;
}

.photo-background {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  background: #ffe0d2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.horizontal-mid {
  width: 300px;
}

.commonfolk .desc {
  font-family: "Nunito Sans";
  text-transform: none;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 400px;
  font-size: 12px;
  text-align: justify;
}

.background {
  scroll-snap-align: start;
}

.photo-background .desc {
  font-family: "Nunito Sans";
  text-transform: none;
  color: #ff4646;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 400px;
  font-size: 12px;
  text-align: justify;
}

.subtitle-logo {
  width: 300px;
  position: absolute;
  margin: auto;
  right: 22%;
  top: 46%;
}

.caption {
  letter-spacing: 3px;
  font-size: 10px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.roles-box {
  color: #ff4646;
  font-size: 20px;
  padding: 2em;
}

.roles-box p {
  margin: 5px 0;
}

.bullet {
  margin: 8px;
}

ul {
  padding-left: 15px;
    text-transform: uppercase;
    font-size: 11px;
    list-style-type: square;
}

.role {
  color: #ff7676;
  font-size: 16px;
}

.role-header {
  font-family: "Nunito Sans";
  font-size: 10px;
  text-transform: uppercase;
}

.role-title a {
  color: #ff4646;
}

.head-box {
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 20px;
  text-align: left;
}

.contact-box {
  color: #ffffff;
  position: absolute;
  right: 25px;
  bottom: 20px;
  font-size: 20px;
  text-align: right;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.email {
  margin-top: 0px;
}

.contact-box a {
  color: #ffd064;
}

.social-section {
  font-size: 14px;
}

.first-image {
  display: block;
  width: 450px;
  margin: auto;
  border: 5px solid #e91e63;
  transition: box-shadow 0.5s ease;
}

.first-image:hover {
  box-shadow: 1px 1px 10px #610c29;
}

.first-photo-container {
  text-align: center;
  margin-bottom: 50px;
  padding-right: 500px;
}

.second-photo-container {
  text-align: center;
  margin-bottom: 50px;
  padding-left: 300px;
}

.third-photo-container {
  text-align: center;
  margin-bottom: 50px;
  padding-right: 100px;
}

.text-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}

.last-words {
  padding-top: 5px;
  text-align: right;
  max-width: 600px;
  margin: auto;
  text-transform: uppercase;
  font-family: "Inter";
}

.www-container{
  padding: 100px 0;
  width: 100%;
  display: flex;
}

.www-container h3{
  position: absolute;
    font-size: 200px;
    top: 0;
    left: -75px;
}

.intro-area{
  display: flex;
  flex-direction: row;
}

.intro-area > div{
  flex: 1;
  padding-right: 30px;
  font-size: 14px;
}

.title-text {
  font-size: 30px;
  font-weight: 300;
}

.title-text a{
  text-decoration: underline;
  color: #5108e3;
}

.title-text a:visited{
  color: #5108e3;
}

.subsubtitle{
  font-size: 11px;
}

.badge {
  width: 200px;
  position: absolute;
  z-index: 100;
  right: 75px;
  top: 50px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

.badge:hover {
  animation-play-state: paused;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(-360deg); 
      transform:rotate(-360deg); 
  } 
}

@media (max-width: 700px) {
  .thirds {
    flex-direction: column;
  }

  .block{
    transform: none;
    writing-mode: revert;
    position: relative;
    left: 0;
    top: 0;
  }

  .design .third img {
    padding-left: 0;
    padding-top: 75px;
  }

  .half, .third{
    width: 100%;
    margin-bottom: 0px;
  }

  .subimg-container{
    display: block;
  }

  .subimg {
    display: inline;
  }

  .horizontal-mini{
    width: 120px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .www-container h3 {
    position: relative;
    font-size: 20px;
    left: 0;
  }

  .www-container{
    padding: 0px;
    flex-direction: column;
  }
  .www-container .web-browser{
    border: none;
  }

  .web-browser video{
    width: 100%;
    border: 3px solid;
  }

  .jpg-container img{
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: auto !important;
    padding: 0px;
  }

  .abc-container .writing-samples{
    font-size: 30px;
    font-weight: 400;
  }

  .subcontent, .subimg-container {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .subdesc{
    max-width: 100%;
  }

  .title-name {
    width: 250px;
  }


  .sidebar {
    width: 100%;
  }

  .right {
    display: none;
  }

  .title {
    font-family: "Work Sans";
    text-transform: uppercase;
  }

  .top-section{
    flex-direction: column;
    align-items: flex-start;
  }

  .top-section div{
    padding-bottom: 5px;
  }

  .title-background{
    padding: 15px;
  }

  .title-text{
    font-size: 25px;
  }

  .design-scroll{
    padding: 25px;
  }

  .full .description{
    padding-left: 0px;
  }

  .design-example img{
    max-height: 300px;
  }

  .jpg-container img{
    padding: 0px;
  }

  .png-container{
    flex-direction: column;
  }

  .png-container h3{
    transform: none;
    position: relative;
    left: inherit;
    bottom: inherit;
    float: unset;
    margin-top: 100px;
  }

  .design-scroll{
    margin-top: 0px;
    padding: 25px;
  }

  .design-example img{
    max-height: 300px;
  }
}

@media (max-width: 500px) {
  .badge {
    display: none;
  }
}
